In [1]:
import os
# Find the latest version of spark 3.0  from http://www-us.apache.org/dist/spark/ and enter as the spark version
# For example:
spark_version = 'spark-3.1.2'
# spark_version = 'spark-3.<enter version>'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:6 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:8 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:11 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:12 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:14 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Fetched 163 kB in 2s (67.4 kB/s)
Reading package lists... Done

In [2]:
# For connection to Postgres
!wget https://jdbc.postgresql.org/download/postgresql-42.2.9.jar

--2021-07-02 13:34:13--  https://jdbc.postgresql.org/download/postgresql-42.2.9.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 914037 (893K) [application/java-archive]
Saving to: ‘postgresql-42.2.9.jar.2’

postgresql-42.2.9.j 100%[===================>] 892.61K  --.-KB/s    in 0.08s

2021-07-02 13:34:14 (10.8 MB/s) - ‘postgresql-42.2.9.jar.2’ saved [914037/914037]

In [3]:
 from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("level_1_a").config("spark.driver.extraClassPath","/content/postgresql-42.2.9.jar").getOrCreate()

## Connect to s3 data

In [4]:
url="https://s3.amazonaws.com/amazon-reviews-pds/tsv/amazon_reviews_us_Digital_Video_Games_v1_00.tsv.gz"
from pyspark import SparkFiles
spark.sparkContext.addFile(url)
spark_df = spark.read.csv(SparkFiles.get("amazon_reviews_us_Digital_Video_Games_v1_00.tsv.gz"), sep="\t", header=True)
spark_df.show()

+-----------+-----------+--------------+----------+--------------+--------------------+-------------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|marketplace|customer_id|     review_id|product_id|product_parent|       product_title|   product_category|star_rating|helpful_votes|total_votes|vine|verified_purchase|     review_headline|         review_body|review_date|
+-----------+-----------+--------------+----------+--------------+--------------------+-------------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|         US|   21269168| RSH1OZ87OYK92|B013PURRZW|     603406193|Madden NFL 16 - X...|Digital_Video_Games|          2|            2|          3|   N|                N|A slight improvem...|I keep buying mad...| 2015-08-31|
|         US|     133437|R1WFOQ3N9BO65I|B00F4CEHNK|     341969535| Xbox Live Gift Card|Digital_Video_Games|          5|            0|          0|   N|                Y|          Five Stars|             Awesome| 2015-08-31|
|         US|   45765011| R3YOOS71KM5M9|B00DNHLFQA|     951665344|Command & Conquer...|Digital_Video_Games|          5|            0|          0|   N|                Y|Hail to the great...|If you are preppi...| 2015-08-31|
|         US|     113118|R3R14UATT3OUFU|B004RMK5QG|     395682204|Playstation Plus ...|Digital_Video_Games|          5|            0|          0|   N|                Y|          Five Stars|             Perfect| 2015-08-31|
|         US|   22151364| RV2W9SGDNQA2C|B00G9BNLQE|     640460561|Saints Row IV - E...|Digital_Video_Games|          5|            0|          0|   N|                Y|          Five Stars|            Awesome!| 2015-08-31|
|         US|   22151364|R3CFKLIZ0I2KOB|B00IMIL498|     621922192|Double Dragon: Ne...|Digital_Video_Games|          5|            0|          0|   N|                Y|          Five Stars|            Awesome!| 2015-08-31|
|         US|   38426028|R1LRYU1V0T3O38|B00S00IJH8|     215163395|              Sims 4|Digital_Video_Games|          4|            0|          0|   N|                Y|i like the new sk...|i like the new sk...| 2015-08-31|
|         US|    6057518| R44QKV6FE5CJ2|B004RMK4BC|     384246568|Playstation Netwo...|Digital_Video_Games|          5|            0|          0|   N|                Y|          Five Stars|               Super| 2015-08-31|
|         US|   20715661|R2TX1KLPXXXNYS|B00K59HKIQ|     384246568|Playstation Netwo...|Digital_Video_Games|          5|            0|          0|   N|                Y|         Easy & Fast|Excellent, fast a...| 2015-08-31|
|         US|   26540306|R1JEEW4C6R89BA|B00K59HKIQ|     384246568|Playstation Netwo...|Digital_Video_Games|          5|            0|          0|   N|                Y|          Five Stars|                  Ok| 2015-08-31|
|         US|    8926809|R3B3UHK1FO0ERS|B004774IPU|     151985175|Sid Meier's Civil...|Digital_Video_Games|          1|            0|          0|   N|                N|I am still playin...|As has been writt...| 2015-08-31|
|         US|   31525534|R2GVSDHW513SS1|B002LIT9EC|     695277014|Build-a-lot 4: Po...|Digital_Video_Games|          5|            0|          0|   N|                Y|Probably the best...|Probably the best...| 2015-08-31|
|         US|   22151364|R1R1NT516PYT73|B008ALUBYQ|     112160022|       Borderlands 2|Digital_Video_Games|          5|            0|          0|   N|                Y|          Five Stars|            Awesome!| 2015-08-31|
|         US|   22977584|R3K624QDQKENN9|B010KYDNDG|     835376637|Minecraft for PC/...|Digital_Video_Games|          4|            0|          0|   N|                Y|                 FUN|COOL BUT IT LAGES...| 2015-08-31|
|         US|   45765011| R1FOXH7PCJX3V|B008ALUBYQ|     112160022|       Borderlands 2|Digital_Video_Games|          1|            0|          2|   N|                Y|            One Star|Lames purchase I ...| 2015-08-31|
|         US|    2239522| RA1246M1OMDWC|B004RMK4P8|     384246568|Playstation Netwo...|Digital_Video_Games|          5|            0|          0|   N|                Y|          Five Stars|               Great| 2015-08-31|
|         US|   48805811|R2I9SXWB0PAEKQ|B004RMK5QG|     395682204|Playstation Plus ...|Digital_Video_Games|          5|            0|          0|   N|                Y|          Five Stars|          Awesome!!!| 2015-08-31|
|         US|   18646481|R3UGL544NA0G9C|B00BI16Z22|     552981447|Brink of Consciou...|Digital_Video_Games|          4|            0|          0|   N|                Y|       worth playing|pretty good but n...| 2015-08-31|
|         US|   10310935|R1CBA4Y92GVAVM|B004VSTQ2A|     232803743|Xbox Live Subscri...|Digital_Video_Games|          5|            0|          0|   N|                Y|          Five Stars|What can I say......| 2015-08-31|
|         US|    5587610|R24NEKNR01VEHU|B00GAC1D2G|     384246568|Playstation Netwo...|Digital_Video_Games|          5|            0|          0|   N|                Y|        Just amazing|Very fast to rece...| 2015-08-31|
+-----------+-----------+--------------+----------+--------------+--------------------+-------------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
only showing top 20 rows

marketplace       - 2 letter country code of the marketplace where the review was written. <br>
customer_id       - Random identifier that can be used to aggregate reviews written by a single author.<br>
review_id         - The unique ID of the review.<br>
product_id        - The unique Product ID the review pertains to. In the multilingual dataset the reviews
                    for the same product in different countries can be grouped by the same product_id.<br>
product_parent    - Random identifier that can be used to aggregate reviews for the same product.<br>
product_title     - Title of the product.<br>
product_category  - Broad product category that can be used to group reviews 
                    (also used to group the dataset into coherent parts).<br>
star_rating       - The 1-5 star rating of the review.<br>
helpful_votes     - Number of helpful votes.<br>
total_votes       - Number of total votes the review received.<br>
vine              - Review was written as part of the Vine program.<br>
verified_purchase - The review is on a verified purchase.<br>
review_headline   - The title of the review.<br>
review_body       - The review text.<br>
review_date       - The date the review was written.

In [5]:
# Removed duplicate rows
spark_df = spark_df.dropDuplicates()
spark_df.count()

145431

## Create datFrame to match the sql table schema

In [6]:
# Create dataframe for review_id_table
from pyspark.sql.functions import to_date

review_id_df = spark_df.select(["review_id", "customer_id", "product_id", "product_parent", to_date("review_date", 'yyyy-MM-dd').alias("review_date")]).dropDuplicates(["review_id"])
review_id_df.show()

+--------------+-----------+----------+--------------+-----------+
|     review_id|customer_id|product_id|product_parent|review_date|
+--------------+-----------+----------+--------------+-----------+
|R106IQ5T0O0VWM|   48087383|B00CX6G1IE|     161335416| 2013-08-08|
|R107U3DTMQDOC9|   45843629|B0085P7G5E|     242628037| 2015-05-06|
| R10P6EEWZ3N7L|   50911990|B003H4QG7C|     821948296| 2010-05-15|
|R10WS97KTREEBO|   14896044|B00HG0B8NA|     860280326| 2014-11-10|
|R114BEBH58ZQH7|   51501861|B007VTVRFA|     402222185| 2013-03-07|
|R11JO1Y1C49N6X|   29443367|B004ZLYHYU|     176636795| 2014-10-11|
|R11LIJNM31TE8K|   52315417|B007Z49CBW|     484755514| 2013-07-13|
|R11MMWHPYAP2RO|   41161875|B00CMSCTA2|     971767807| 2015-04-15|
|R11QXISSBW50O0|   26633271|B0061NMKZS|     556775001| 2011-11-17|
|R11VN7JNRYG599|   51485784|B005Q1YAI6|     615639173| 2013-07-20|
|R124LEHIOJCB8W|   37961635|B008J35KS2|     225309182| 2014-11-28|
|R125SUDO7XIYA4|   10098024|B0041OSXHS|     775851968| 2012-03-02|
|R128B4VIE7799X|   11758164|B001K7HUX2|     150739206| 2010-12-15|
|R12GST5SVYPDY4|   48612902|B004RMK4BC|     384246568| 2013-10-08|
|R131S4XUAFNNAD|   20393967|B00I0FSV5S|      77358525| 2014-07-10|
|R132BL7RB91IA8|   47344377|B00IA9K940|     889945114| 2014-12-29|
|R1368UOF0365BA|    1747965|B004RMK4P8|     384246568| 2015-08-19|
|R1384VCZOPPYZV|   19773689|B004RMK4BC|     384246568| 2015-08-19|
|R13D5JAZP7DEQK|   20239962|B004RMK5QG|     395682204| 2015-04-18|
|R13OV298BNQMV3|   10130200|B007WWW2C8|     394595707| 2013-01-14|
+--------------+-----------+----------+--------------+-----------+
only showing top 20 rows

In [7]:
review_id_df.count()

145431

In [8]:
# Create dataframe for products in sql 
# 348657 with duplicates
# removed duplicates based on product_id to get 64589 records
products_df = spark_df.select(["product_id", "product_title"]).dropDuplicates(["product_id"])
products_df.show()

+----------+--------------------+
|product_id|       product_title|
+----------+--------------------+
|B001KC02UA|Happy Hour! [Down...|
|B002FGU06Q|Tradewinds Odysse...|
|B002MUB0N2|Word Harmony [Dow...|
|B002N5NAXY|Continental Cafe ...|
|B0030EFVA2|688I Hunter Kille...|
|B0030GG0XC|Super Jigsaw Pupp...|
|B0031561G8|Crazy Machines: N...|
|B0031RGGOI|Next Life [Download]|
|B0037HOOTQ|Death Track: Resu...|
|B003O68T1Y|Casino Island To ...|
|B003OA4CSY|Tecmo Bowl: Throw...|
|B0042JTQWS|Jewel Drop! [Down...|
|B004MMEGHU|Matches & Matrimo...|
|B0054KC23E|Pizza Deliciozo [...|
|B0056JGF9U|Pirate Mysteries:...|
|B0058JZ0WQ|F1 Chequered Flag...|
|B005OE9YUY|        Nuclear Dawn|
|B005Q1YA5O|    The Sims 3: Pets|
|B005R40HFW|Sinbad: In search...|
|B008BKF3OE|RuneScape [Game C...|
+----------+--------------------+
only showing top 20 rows

In [9]:
products_df.count()

7948

In [10]:
# Create dataframe for cusomers in sql
counts = spark_df.groupBy("customer_id").count()
customers_df = counts.select(["customer_id", "count"]).withColumnRenamed("count", "customer_count")
customers_df.show()

+-----------+--------------+
|customer_id|customer_count|
+-----------+--------------+
|   23179816|             1|
|    9504182|             1|
|   28425726|             1|
|   10918759|             1|
|   12893110|             8|
|   27913987|             1|
|   10406954|             2|
|   14054725|             1|
|   12312704|             1|
|   28272744|             1|
|   13816047|             2|
|    2099801|             1|
|   23826159|             1|
|   45462247|             2|
|   16111314|             2|
|    8997804|             1|
|   11622642|            31|
|   15795087|             1|
|   15384157|             1|
|   14682436|             1|
+-----------+--------------+
only showing top 20 rows

In [11]:
# Create df for vine table
vine_df = spark_df.select(["review_id", "star_rating", "helpful_votes", "total_votes", "vine"]).dropDuplicates(["review_id"])
vine_df.show()

+--------------+-----------+-------------+-----------+----+
|     review_id|star_rating|helpful_votes|total_votes|vine|
+--------------+-----------+-------------+-----------+----+
|R106IQ5T0O0VWM|          5|            0|          0|   N|
|R107U3DTMQDOC9|          3|            0|          1|   N|
| R10P6EEWZ3N7L|          4|            5|          5|   N|
|R10WS97KTREEBO|          4|            0|          0|   N|
|R114BEBH58ZQH7|          1|            7|          7|   N|
|R11JO1Y1C49N6X|          4|            0|          1|   N|
|R11LIJNM31TE8K|          4|            0|          0|   N|
|R11MMWHPYAP2RO|          1|            0|          2|   N|
|R11QXISSBW50O0|          3|           11|         11|   N|
|R11VN7JNRYG599|          1|            0|          0|   N|
|R124LEHIOJCB8W|          5|            0|          0|   N|
|R125SUDO7XIYA4|          1|            0|          2|   N|
|R128B4VIE7799X|          1|            1|          3|   N|
|R12GST5SVYPDY4|          5|            0|          0|   N|
|R131S4XUAFNNAD|          5|            0|          1|   N|
|R132BL7RB91IA8|          5|            0|          0|   N|
|R1368UOF0365BA|          1|            0|          0|   N|
|R1384VCZOPPYZV|          5|            0|          0|   N|
|R13D5JAZP7DEQK|          5|            0|          0|   N|
|R13OV298BNQMV3|          5|            1|          2|   N|
+--------------+-----------+-------------+-----------+----+
only showing top 20 rows

In [12]:
vine_df.count()

145431



```
CREATE TABLE review_id_table (
  review_id TEXT PRIMARY KEY NOT NULL,
  customer_id INTEGER,
  product_id TEXT,
  product_parent INTEGER,
  review_date DATE -- this should be in the formate yyyy-mm-dd
);

-- This table will contain only unique values
CREATE TABLE products (
  product_id TEXT PRIMARY KEY NOT NULL UNIQUE,
  product_title TEXT
);

-- Customer table for first data set
CREATE TABLE customers (
  customer_id INT PRIMARY KEY NOT NULL UNIQUE,
  customer_count INT
);

-- vine table
CREATE TABLE vine_table (
  review_id TEXT PRIMARY KEY,
  star_rating INTEGER,
  helpful_votes INTEGER,
  total_votes INTEGER,
  vine TEXT
);
```

In [13]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.7/dist-packages (2.9.1)

In [14]:
server = "cwrudb.cahlmi90e2k6.us-east-2.rds.amazonaws.com"
database = "amzn_review"
port = "5432"
username = "root"
password = "postgres"

conn = f"postgresql://{username}:{password}@{server}:{port}/{database}"

from sqlalchemy import create_engine 
engine = create_engine(conn, echo=False)

In [15]:
engine

Engine(postgresql://root:***@cwrudb.cahlmi90e2k6.us-east-2.rds.amazonaws.com:5432/amzn_review)

In [16]:
# Review ID table, products table, cusomers table, vine table changed to pandas dataframe
pd_review_id_df = review_id_df.toPandas()
pd_products_df = products_df.toPandas()
pd_customers_df = customers_df.toPandas()
pd_vine_df = vine_df.toPandas()

In [17]:
# load the dataframe to postgresql aws rds database
pd_review_id_df.to_sql("review_id_table", con=engine, if_exists='append',index=False)
pd_products_df.to_sql("products", con=engine, if_exists="append", index=False)
pd_customers_df.to_sql("customers", con=engine, if_exists="append", index=False)
pd_vine_df.to_sql("vine_table", con=engine, if_exists="append", index=False)